FYP_ChildAbuseGIS2013/FYP_ChildAbuseGIS2013/Service References/EmotionExpressionDB/Emotion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertEmotion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insert" type="tns:ImageEmotion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ImageEmotion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageSrc" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Expression" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertEmotionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertEmotionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllEmotionList">
        <s:complexType />
      </s:element>
      <s:element name="getAllEmotionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllEmotionListResult" type="tns:ArrayOfImageEmotion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfImageEmotion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ImageEmotion" nillable="true" type="tns:ImageEmotion" />
        </s:sequence>
      </s:complexType>
      <s:element name="getDataSetEmotionList">
        <s:complexType />
      </s:element>
      <s:element name="getDataSetEmotionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDataSetEmotionListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="insertEmotionSoapIn">
    <wsdl:part name="parameters" element="tns:insertEmotion" />
  </wsdl:message>
  <wsdl:message name="insertEmotionSoapOut">
    <wsdl:part name="parameters" element="tns:insertEmotionResponse" />
  </wsdl:message>
  <wsdl:message name="getAllEmotionListSoapIn">
    <wsdl:part name="parameters" element="tns:getAllEmotionList" />
  </wsdl:message>
  <wsdl:message name="getAllEmotionListSoapOut">
    <wsdl:part name="parameters" element="tns:getAllEmotionListResponse" />
  </wsdl:message>
  <wsdl:message name="getDataSetEmotionListSoapIn">
    <wsdl:part name="parameters" element="tns:getDataSetEmotionList" />
  </wsdl:message>
  <wsdl:message name="getDataSetEmotionListSoapOut">
    <wsdl:part name="parameters" element="tns:getDataSetEmotionListResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertEmotion">
      <wsdl:input message="tns:insertEmotionSoapIn" />
      <wsdl:output message="tns:insertEmotionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllEmotionList">
      <wsdl:input message="tns:getAllEmotionListSoapIn" />
      <wsdl:output message="tns:getAllEmotionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDataSetEmotionList">
      <wsdl:input message="tns:getDataSetEmotionListSoapIn" />
      <wsdl:output message="tns:getDataSetEmotionListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEmotion">
      <soap:operation soapAction="http://tempuri.org/insertEmotion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmotionList">
      <soap:operation soapAction="http://tempuri.org/getAllEmotionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataSetEmotionList">
      <soap:operation soapAction="http://tempuri.org/getDataSetEmotionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertEmotion">
      <soap12:operation soapAction="http://tempuri.org/insertEmotion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllEmotionList">
      <soap12:operation soapAction="http://tempuri.org/getAllEmotionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataSetEmotionList">
      <soap12:operation soapAction="http://tempuri.org/getDataSetEmotionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:28321/Emotion.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:28321/Emotion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>