FYP_ChildAbuseGIS2013/FYP_ChildAbuseGIS2013/Web References/com.arcgisonline.tasks1/GeometryServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:e="http://www.esri.com/schemas/ArcGIS/10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.esri.com/schemas/ArcGIS/10.0" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>The ESRI Geometry Server.</documentation>
  <types>
    <xs:schema xmlns="http://www.esri.com/schemas/ArcGIS/10.0" targetNamespace="http://www.esri.com/schemas/ArcGIS/10.0">
      <xs:element name="Project">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InSpatialReference" type="e:SpatialReference" />
            <xs:element name="OutSpatialReference" type="e:SpatialReference" />
            <xs:element name="TransformForward" type="xs:boolean" />
            <xs:element name="Transformation" type="e:GeoTransformation" />
            <xs:element name="Extent" type="e:Envelope" />
            <xs:element name="InGeometryArray" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ProjectResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Buffer">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InSpatialReference" type="e:SpatialReference" />
            <xs:element name="BufferSpatialReference" type="e:SpatialReference" />
            <xs:element name="OutSpatialReference" type="e:SpatialReference" />
            <xs:element name="Distances" type="e:ArrayOfDouble" />
            <xs:element name="Unit" type="e:Unit" />
            <xs:element name="UnionResults" type="xs:boolean" />
            <xs:element name="InGeometryArray" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BufferResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Relation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InGeometryArray1" type="e:ArrayOfGeometry" />
            <xs:element name="InGeometryArray2" type="e:ArrayOfGeometry" />
            <xs:element name="RelationName" type="e:esriGeometryRelationEnum" />
            <xs:element name="RelationParameter" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RelationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfRelationResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Densify">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InGeometryArray" type="e:ArrayOfGeometry" />
            <xs:element name="MaxSegmentLength" type="xs:double" />
            <xs:element name="UseDeviationDensification" type="xs:boolean" />
            <xs:element name="DensificationParameter" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DensifyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Simplify">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InGeometryArray" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SimplifyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FindSRByWKID">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="authority" type="xs:string" />
            <xs:element name="WKID" type="xs:int" />
            <xs:element name="WKID_Z" type="xs:int" />
            <xs:element name="DefaultXYResolution" type="xs:boolean" />
            <xs:element name="DefaultXYTolerance" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FindSRByWKIDResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:SpatialReference" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FindSRByWKT">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="WKT" type="xs:string" />
            <xs:element name="WKT_Z" type="xs:string" />
            <xs:element name="DefaultXYResolution" type="xs:boolean" />
            <xs:element name="DefaultXYTolerance" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FindSRByWKTResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:SpatialReference" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FindUnitsByWKID">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="authority" type="xs:string" />
            <xs:element name="WKID" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FindUnitsByWKIDResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:Unit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FindUnitsByWKT">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="WKT" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FindUnitsByWKTResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:Unit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAreasAndLengths">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InPolygonArray" type="e:ArrayOfPolygon" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAreasAndLengthsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Areas" type="e:ArrayOfDouble" />
            <xs:element name="Lengths" type="e:ArrayOfDouble" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLengths">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InPolylineArray" type="e:ArrayOfPolyline" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLengthsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfDouble" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLabelPoints">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InPolygonArray" type="e:ArrayOfPolygon" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLabelPointsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfPoint" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAreasAndLengths2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InPolygonArray" type="e:ArrayOfPolygon" />
            <xs:element name="LengthUnit" type="e:LinearUnit" />
            <xs:element name="AreaUnit" type="e:LinearUnit" />
            <xs:element name="AreaUnitEnum" type="e:esriAreaUnits" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetAreasAndLengths2Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Areas" type="e:ArrayOfDouble" />
            <xs:element name="Lengths" type="e:ArrayOfDouble" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLengths2">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InPolylineArray" type="e:ArrayOfPolyline" />
            <xs:element name="LengthUnit" type="e:LinearUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLengths2Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfDouble" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DensifyGeodesic">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InGeometryArray" type="e:ArrayOfGeometry" />
            <xs:element name="MaxSegmentLength" type="xs:double" />
            <xs:element name="LengthUnit" type="e:LinearUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DensifyGeodesicResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLengthsGeodesic">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InPolylineArray" type="e:ArrayOfPolyline" />
            <xs:element name="LengthUnit" type="e:LinearUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetLengthsGeodesicResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfDouble" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDistance">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="G1" type="e:Geometry" />
            <xs:element name="G2" type="e:Geometry" />
            <xs:element name="DistanceUnit" type="e:LinearUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDistanceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDistanceGeodesic">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="G1" type="e:Geometry" />
            <xs:element name="G2" type="e:Geometry" />
            <xs:element name="DistanceUnit" type="e:LinearUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDistanceGeodesicResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Union">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InGeometryArray" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UnionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:Geometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Intersect">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InGeometryArray1" type="e:ArrayOfGeometry" />
            <xs:element name="InGeometry2" type="e:Geometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IntersectResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Difference">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InGeometryArray1" type="e:ArrayOfGeometry" />
            <xs:element name="InGeometry2" type="e:Geometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DifferenceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Cut">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="Targets" type="e:ArrayOfGeometry" />
            <xs:element name="Cutter" type="e:Polyline" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CutResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfGeometry" />
            <xs:element name="CutIndexResult" type="e:ArrayOfInt" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TrimExtend">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InPolylineArray" type="e:ArrayOfPolyline" />
            <xs:element name="TrimExtendTo" type="e:Polyline" />
            <xs:element name="ExtendHow" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TrimExtendResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfPolyline" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Offset">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InGeometryArray" type="e:ArrayOfGeometry" />
            <xs:element name="OffsetDistance" type="xs:double" />
            <xs:element name="OffsetUnit" type="e:LinearUnit" />
            <xs:element name="OffsetHow" type="e:esriGeometryOffsetEnum" />
            <xs:element name="BevelRatio" type="xs:double" />
            <xs:element name="SimplifyResult" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OffsetResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Generalize">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InGeometryArray" type="e:ArrayOfGeometry" />
            <xs:element name="MaxDeviation" type="xs:double" />
            <xs:element name="DeviationUnit" type="e:LinearUnit" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GeneralizeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Reshape">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="Target" type="e:Geometry" />
            <xs:element name="Reshaper" type="e:Polyline" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReshapeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:Geometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConvexHull">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InGeometryArray" type="e:ArrayOfGeometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConvexHullResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:Geometry" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AutoComplete">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SpatialReference" type="e:SpatialReference" />
            <xs:element name="InPolygons" type="e:ArrayOfPolygon" />
            <xs:element name="InCompletionLines" type="e:ArrayOfPolyline" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AutoCompleteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="e:ArrayOfPolygon" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfGeometry">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Geometry" type="e:Geometry" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfRelationResult">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RelationResult" type="e:RelationResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="esriGeometryRelationEnum">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="esriGeometryRelationDisjoint" />
          <xs:enumeration value="esriGeometryRelationIntersection" />
          <xs:enumeration value="esriGeometryRelationInteriorIntersection" />
          <xs:enumeration value="esriGeometryRelationIn" />
          <xs:enumeration value="esriGeometryRelationWithin" />
          <xs:enumeration value="esriGeometryRelationPointTouch" />
          <xs:enumeration value="esriGeometryRelationLineTouch" />
          <xs:enumeration value="esriGeometryRelationTouch" />
          <xs:enumeration value="esriGeometryRelationLineCoincidence" />
          <xs:enumeration value="esriGeometryRelationCross" />
          <xs:enumeration value="esriGeometryRelationOverlap" />
          <xs:enumeration value="esriGeometryRelationRelation" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="esriGeometryOffsetEnum">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="esriGeometryOffsetMitered" />
          <xs:enumeration value="esriGeometryOffsetBevelled" />
          <xs:enumeration value="esriGeometryOffsetRounded" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="RelationResult">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element name="leftIndex" type="xs:int" />
          <xs:element name="rightIndex" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GeoTransformation">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="WKT" type="xs:string" />
          <xs:element minOccurs="0" name="WKID" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Unit" abstract="true">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="WKT" type="xs:string" />
          <xs:element minOccurs="0" name="WKID" type="xs:int" />
          <xs:element name="StandardUnitsPerUnit" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LinearUnit">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Unit" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="AngularUnit">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Unit" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SpatialReference" abstract="true">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="WKT" type="xs:string" />
          <xs:element minOccurs="0" name="XOrigin" type="xs:double" />
          <xs:element minOccurs="0" name="YOrigin" type="xs:double" />
          <xs:element minOccurs="0" name="XYScale" type="xs:double" />
          <xs:element minOccurs="0" name="ZOrigin" type="xs:double" />
          <xs:element minOccurs="0" name="ZScale" type="xs:double" />
          <xs:element minOccurs="0" name="MOrigin" type="xs:double" />
          <xs:element minOccurs="0" name="MScale" type="xs:double" />
          <xs:element minOccurs="0" name="XYTolerance" type="xs:double" />
          <xs:element minOccurs="0" name="ZTolerance" type="xs:double" />
          <xs:element minOccurs="0" name="MTolerance" type="xs:double" />
          <xs:element minOccurs="0" name="HighPrecision" type="xs:boolean" />
          <xs:element minOccurs="0" name="LeftLongitude" type="xs:double" />
          <xs:element minOccurs="0" name="WKID" type="xs:int" />
          <xs:element minOccurs="0" name="VCSWKID" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ProjectedCoordinateSystem">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:SpatialReference" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="GeographicCoordinateSystem">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:SpatialReference" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="UnknownCoordinateSystem">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:SpatialReference" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Geometry">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
      </xs:complexType>
      <xs:complexType name="Curve" abstract="true">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Geometry" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Segment" abstract="true">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Curve">
            <xs:sequence>
              <xs:element name="FromPoint" type="e:Point" />
              <xs:element name="ToPoint" type="e:Point" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Polycurve" abstract="true">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Curve" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Envelope" abstract="true">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Geometry" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EnvelopeN">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Envelope">
            <xs:sequence>
              <xs:element name="XMin" type="xs:double" />
              <xs:element name="YMin" type="xs:double" />
              <xs:element name="XMax" type="xs:double" />
              <xs:element name="YMax" type="xs:double" />
              <xs:element minOccurs="0" name="ZMin" type="xs:double" />
              <xs:element minOccurs="0" name="ZMax" type="xs:double" />
              <xs:element minOccurs="0" name="MMin" type="xs:double" />
              <xs:element minOccurs="0" name="MMax" type="xs:double" />
              <xs:element minOccurs="0" name="SpatialReference" type="e:SpatialReference" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EnvelopeB">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Envelope">
            <xs:sequence>
              <xs:element name="Bytes" type="xs:base64Binary" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Point" abstract="true">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Geometry" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PointN">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Point">
            <xs:sequence>
              <xs:element name="X" type="xs:double" />
              <xs:element name="Y" type="xs:double" />
              <xs:element minOccurs="0" name="M" type="xs:double" />
              <xs:element minOccurs="0" name="Z" type="xs:double" />
              <xs:element minOccurs="0" name="ID" type="xs:int" />
              <xs:element minOccurs="0" name="SpatialReference" type="e:SpatialReference" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PointB">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Point">
            <xs:sequence>
              <xs:element name="Bytes" type="xs:base64Binary" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Multipoint" abstract="true">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Geometry" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="MultipointB">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Multipoint">
            <xs:sequence>
              <xs:element name="Bytes" type="xs:base64Binary" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="MultipointN">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Multipoint">
            <xs:sequence>
              <xs:element name="HasID" type="xs:boolean" />
              <xs:element name="HasZ" type="xs:boolean" />
              <xs:element name="HasM" type="xs:boolean" />
              <xs:element minOccurs="0" name="Extent" type="e:Envelope" />
              <xs:element minOccurs="0" name="PointArray" type="e:ArrayOfPoint" />
              <xs:element minOccurs="0" name="SpatialReference" type="e:SpatialReference" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Line">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Segment" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="EllipticArc">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Segment">
            <xs:sequence>
              <xs:element name="EllipseStd" type="xs:boolean" />
              <xs:element name="CenterPoint" type="e:Point" />
              <xs:element name="Rotation" type="xs:double" />
              <xs:element name="MinorMajorRatio" type="xs:double" />
              <xs:element name="IsCounterClockwise" type="xs:boolean" />
              <xs:element name="IsMinor" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CircularArc">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Segment">
            <xs:sequence>
              <xs:element name="CenterPoint" type="e:Point" />
              <xs:element minOccurs="0" name="FromAngle" type="xs:double" />
              <xs:element minOccurs="0" name="ToAngle" type="xs:double" />
              <xs:element name="IsCounterClockwise" type="xs:boolean" />
              <xs:element name="IsMinor" type="xs:boolean" />
              <xs:element name="IsLine" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="BezierCurve">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Segment">
            <xs:sequence>
              <xs:element name="Degree" type="xs:int" />
              <xs:element name="ControlPointArray" type="e:ArrayOfPoint" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Path">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Curve">
            <xs:sequence>
              <xs:element minOccurs="0" name="PointArray" type="e:ArrayOfPoint" />
              <xs:element minOccurs="0" name="SegmentArray" type="e:ArrayOfSegment" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Ring">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Path" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Polygon" abstract="true">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Polycurve" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PolygonN">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Polygon">
            <xs:sequence>
              <xs:element name="HasID" type="xs:boolean" />
              <xs:element name="HasZ" type="xs:boolean" />
              <xs:element name="HasM" type="xs:boolean" />
              <xs:element minOccurs="0" name="Extent" type="e:Envelope" />
              <xs:element name="RingArray" type="e:ArrayOfRing" />
              <xs:element minOccurs="0" name="SpatialReference" type="e:SpatialReference" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PolygonB">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Polygon">
            <xs:sequence>
              <xs:element name="Bytes" type="xs:base64Binary" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Polyline" abstract="true">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Polycurve" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PolylineN">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Polyline">
            <xs:sequence>
              <xs:element name="HasID" type="xs:boolean" />
              <xs:element name="HasZ" type="xs:boolean" />
              <xs:element name="HasM" type="xs:boolean" />
              <xs:element minOccurs="0" name="Extent" type="e:Envelope" />
              <xs:element name="PathArray" type="e:ArrayOfPath" />
              <xs:element minOccurs="0" name="SpatialReference" type="e:SpatialReference" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="PolylineB">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Polyline">
            <xs:sequence>
              <xs:element name="Bytes" type="xs:base64Binary" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ArrayOfPoint">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Point" type="e:Point" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfPath">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Path" type="e:Path" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfRing">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Ring" type="e:Ring" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfSegment">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" type="e:Segment" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfPolyline">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Polyline" type="e:Polyline" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfPolygon">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Polygon" type="e:Polygon" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MultiPatch" abstract="true">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Geometry" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="MultiPatchB">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:MultiPatch">
            <xs:sequence>
              <xs:element name="Bytes" type="xs:base64Binary" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="MultiPatchN">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:MultiPatch">
            <xs:sequence>
              <xs:element name="HasID" type="xs:boolean" />
              <xs:element name="HasZ" type="xs:boolean" />
              <xs:element name="HasM" type="xs:boolean" />
              <xs:element name="Extent" type="e:Envelope" />
              <xs:element name="SurfacePatchArray" type="e:ArrayOfSurfacePatch" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ArrayOfSurfacePatch">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="SurfacePatch" type="e:Geometry" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TriangleFan">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Geometry">
            <xs:sequence>
              <xs:element minOccurs="0" name="PointArray" type="e:ArrayOfPoint" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TriangleStrip">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="e:Geometry">
            <xs:sequence>
              <xs:element minOccurs="0" name="PointArray" type="e:ArrayOfPoint" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ArrayOfInt">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Int" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfDouble">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Double" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="esriAreaUnits">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="esriUnknownAreaUnits" />
          <xs:enumeration value="esriSquareInches" />
          <xs:enumeration value="esriSquareFeet" />
          <xs:enumeration value="esriSquareYards" />
          <xs:enumeration value="esriAcres" />
          <xs:enumeration value="esriSquareMiles" />
          <xs:enumeration value="esriSquareMillimeters" />
          <xs:enumeration value="esriSquareCentimeters" />
          <xs:enumeration value="esriSquareDecimeters" />
          <xs:enumeration value="esriSquareMeters" />
          <xs:enumeration value="esriAres" />
          <xs:enumeration value="esriHectares" />
          <xs:enumeration value="esriSquareKilometers" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>
  <message name="GetAreasAndLengthsIn">
    <part name="parameters" element="e:GetAreasAndLengths" />
  </message>
  <message name="GetAreasAndLengthsOut">
    <part name="parameters" element="e:GetAreasAndLengthsResponse" />
  </message>
  <message name="FindUnitsByWKIDIn">
    <part name="parameters" element="e:FindUnitsByWKID" />
  </message>
  <message name="FindUnitsByWKIDOut">
    <part name="parameters" element="e:FindUnitsByWKIDResponse" />
  </message>
  <message name="ReshapeIn">
    <part name="parameters" element="e:Reshape" />
  </message>
  <message name="ReshapeOut">
    <part name="parameters" element="e:ReshapeResponse" />
  </message>
  <message name="GetLengthsGeodesicIn">
    <part name="parameters" element="e:GetLengthsGeodesic" />
  </message>
  <message name="GetLengthsGeodesicOut">
    <part name="parameters" element="e:GetLengthsGeodesicResponse" />
  </message>
  <message name="GeneralizeIn">
    <part name="parameters" element="e:Generalize" />
  </message>
  <message name="GeneralizeOut">
    <part name="parameters" element="e:GeneralizeResponse" />
  </message>
  <message name="TrimExtendIn">
    <part name="parameters" element="e:TrimExtend" />
  </message>
  <message name="TrimExtendOut">
    <part name="parameters" element="e:TrimExtendResponse" />
  </message>
  <message name="ConvexHullIn">
    <part name="parameters" element="e:ConvexHull" />
  </message>
  <message name="ConvexHullOut">
    <part name="parameters" element="e:ConvexHullResponse" />
  </message>
  <message name="GetLabelPointsIn">
    <part name="parameters" element="e:GetLabelPoints" />
  </message>
  <message name="GetLabelPointsOut">
    <part name="parameters" element="e:GetLabelPointsResponse" />
  </message>
  <message name="UnionIn">
    <part name="parameters" element="e:Union" />
  </message>
  <message name="UnionOut">
    <part name="parameters" element="e:UnionResponse" />
  </message>
  <message name="ProjectIn">
    <part name="parameters" element="e:Project" />
  </message>
  <message name="ProjectOut">
    <part name="parameters" element="e:ProjectResponse" />
  </message>
  <message name="DensifyGeodesicIn">
    <part name="parameters" element="e:DensifyGeodesic" />
  </message>
  <message name="DensifyGeodesicOut">
    <part name="parameters" element="e:DensifyGeodesicResponse" />
  </message>
  <message name="FindSRByWKIDIn">
    <part name="parameters" element="e:FindSRByWKID" />
  </message>
  <message name="FindSRByWKIDOut">
    <part name="parameters" element="e:FindSRByWKIDResponse" />
  </message>
  <message name="GetAreasAndLengths2In">
    <part name="parameters" element="e:GetAreasAndLengths2" />
  </message>
  <message name="GetAreasAndLengths2Out">
    <part name="parameters" element="e:GetAreasAndLengths2Response" />
  </message>
  <message name="BufferIn">
    <part name="parameters" element="e:Buffer" />
  </message>
  <message name="BufferOut">
    <part name="parameters" element="e:BufferResponse" />
  </message>
  <message name="DensifyIn">
    <part name="parameters" element="e:Densify" />
  </message>
  <message name="DensifyOut">
    <part name="parameters" element="e:DensifyResponse" />
  </message>
  <message name="GetLengths2In">
    <part name="parameters" element="e:GetLengths2" />
  </message>
  <message name="GetLengths2Out">
    <part name="parameters" element="e:GetLengths2Response" />
  </message>
  <message name="RelationIn">
    <part name="parameters" element="e:Relation" />
  </message>
  <message name="RelationOut">
    <part name="parameters" element="e:RelationResponse" />
  </message>
  <message name="AutoCompleteIn">
    <part name="parameters" element="e:AutoComplete" />
  </message>
  <message name="AutoCompleteOut">
    <part name="parameters" element="e:AutoCompleteResponse" />
  </message>
  <message name="FindSRByWKTIn">
    <part name="parameters" element="e:FindSRByWKT" />
  </message>
  <message name="FindSRByWKTOut">
    <part name="parameters" element="e:FindSRByWKTResponse" />
  </message>
  <message name="OffsetIn">
    <part name="parameters" element="e:Offset" />
  </message>
  <message name="OffsetOut">
    <part name="parameters" element="e:OffsetResponse" />
  </message>
  <message name="CutIn">
    <part name="parameters" element="e:Cut" />
  </message>
  <message name="CutOut">
    <part name="parameters" element="e:CutResponse" />
  </message>
  <message name="IntersectIn">
    <part name="parameters" element="e:Intersect" />
  </message>
  <message name="IntersectOut">
    <part name="parameters" element="e:IntersectResponse" />
  </message>
  <message name="GetDistanceGeodesicIn">
    <part name="parameters" element="e:GetDistanceGeodesic" />
  </message>
  <message name="GetDistanceGeodesicOut">
    <part name="parameters" element="e:GetDistanceGeodesicResponse" />
  </message>
  <message name="SimplifyIn">
    <part name="parameters" element="e:Simplify" />
  </message>
  <message name="SimplifyOut">
    <part name="parameters" element="e:SimplifyResponse" />
  </message>
  <message name="DifferenceIn">
    <part name="parameters" element="e:Difference" />
  </message>
  <message name="DifferenceOut">
    <part name="parameters" element="e:DifferenceResponse" />
  </message>
  <message name="FindUnitsByWKTIn">
    <part name="parameters" element="e:FindUnitsByWKT" />
  </message>
  <message name="FindUnitsByWKTOut">
    <part name="parameters" element="e:FindUnitsByWKTResponse" />
  </message>
  <message name="GetDistanceIn">
    <part name="parameters" element="e:GetDistance" />
  </message>
  <message name="GetDistanceOut">
    <part name="parameters" element="e:GetDistanceResponse" />
  </message>
  <message name="GetLengthsIn">
    <part name="parameters" element="e:GetLengths" />
  </message>
  <message name="GetLengthsOut">
    <part name="parameters" element="e:GetLengthsResponse" />
  </message>
  <portType name="GeometryServerPort">
    <documentation>
    </documentation>
    <operation name="GetAreasAndLengths">
      <input message="e:GetAreasAndLengthsIn" />
      <output message="e:GetAreasAndLengthsOut" />
    </operation>
    <operation name="FindUnitsByWKID">
      <input message="e:FindUnitsByWKIDIn" />
      <output message="e:FindUnitsByWKIDOut" />
    </operation>
    <operation name="Reshape">
      <input message="e:ReshapeIn" />
      <output message="e:ReshapeOut" />
    </operation>
    <operation name="GetLengthsGeodesic">
      <input message="e:GetLengthsGeodesicIn" />
      <output message="e:GetLengthsGeodesicOut" />
    </operation>
    <operation name="Generalize">
      <input message="e:GeneralizeIn" />
      <output message="e:GeneralizeOut" />
    </operation>
    <operation name="TrimExtend">
      <input message="e:TrimExtendIn" />
      <output message="e:TrimExtendOut" />
    </operation>
    <operation name="ConvexHull">
      <input message="e:ConvexHullIn" />
      <output message="e:ConvexHullOut" />
    </operation>
    <operation name="GetLabelPoints">
      <input message="e:GetLabelPointsIn" />
      <output message="e:GetLabelPointsOut" />
    </operation>
    <operation name="Union">
      <input message="e:UnionIn" />
      <output message="e:UnionOut" />
    </operation>
    <operation name="Project">
      <input message="e:ProjectIn" />
      <output message="e:ProjectOut" />
    </operation>
    <operation name="DensifyGeodesic">
      <input message="e:DensifyGeodesicIn" />
      <output message="e:DensifyGeodesicOut" />
    </operation>
    <operation name="FindSRByWKID">
      <input message="e:FindSRByWKIDIn" />
      <output message="e:FindSRByWKIDOut" />
    </operation>
    <operation name="GetAreasAndLengths2">
      <input message="e:GetAreasAndLengths2In" />
      <output message="e:GetAreasAndLengths2Out" />
    </operation>
    <operation name="Buffer">
      <input message="e:BufferIn" />
      <output message="e:BufferOut" />
    </operation>
    <operation name="Densify">
      <input message="e:DensifyIn" />
      <output message="e:DensifyOut" />
    </operation>
    <operation name="GetLengths2">
      <input message="e:GetLengths2In" />
      <output message="e:GetLengths2Out" />
    </operation>
    <operation name="Relation">
      <input message="e:RelationIn" />
      <output message="e:RelationOut" />
    </operation>
    <operation name="AutoComplete">
      <input message="e:AutoCompleteIn" />
      <output message="e:AutoCompleteOut" />
    </operation>
    <operation name="FindSRByWKT">
      <input message="e:FindSRByWKTIn" />
      <output message="e:FindSRByWKTOut" />
    </operation>
    <operation name="Offset">
      <input message="e:OffsetIn" />
      <output message="e:OffsetOut" />
    </operation>
    <operation name="Cut">
      <input message="e:CutIn" />
      <output message="e:CutOut" />
    </operation>
    <operation name="Intersect">
      <input message="e:IntersectIn" />
      <output message="e:IntersectOut" />
    </operation>
    <operation name="GetDistanceGeodesic">
      <input message="e:GetDistanceGeodesicIn" />
      <output message="e:GetDistanceGeodesicOut" />
    </operation>
    <operation name="Simplify">
      <input message="e:SimplifyIn" />
      <output message="e:SimplifyOut" />
    </operation>
    <operation name="Difference">
      <input message="e:DifferenceIn" />
      <output message="e:DifferenceOut" />
    </operation>
    <operation name="FindUnitsByWKT">
      <input message="e:FindUnitsByWKTIn" />
      <output message="e:FindUnitsByWKTOut" />
    </operation>
    <operation name="GetDistance">
      <input message="e:GetDistanceIn" />
      <output message="e:GetDistanceOut" />
    </operation>
    <operation name="GetLengths">
      <input message="e:GetLengthsIn" />
      <output message="e:GetLengthsOut" />
    </operation>
  </portType>
  <binding name="GeometryServerBinding" type="e:GeometryServerPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetAreasAndLengths">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindUnitsByWKID">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Reshape">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLengthsGeodesic">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Generalize">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TrimExtend">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ConvexHull">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLabelPoints">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Union">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Project">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DensifyGeodesic">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindSRByWKID">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAreasAndLengths2">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Buffer">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Densify">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLengths2">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Relation">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AutoComplete">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindSRByWKT">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Offset">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Cut">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Intersect">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDistanceGeodesic">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Simplify">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Difference">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindUnitsByWKT">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetDistance">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLengths">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Geometry_GeometryServer">
    <port name="GeometryServerPort" binding="e:GeometryServerBinding">
      <soap:address location="http://tasks.arcgisonline.com/ArcGIS/services/Geometry/GeometryServer" />
    </port>
  </service>
</definitions>